.featured__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-transform: uppercase;
}
.featured__subtitle {
  font-size: var(--size-sm);
  color: var(--clr-indigo);
  text-transform: capitalize;
  font-weight: 400;
}
.featured__link {
  width: var(--size-2xl);
  height: var(--size-2xl);
}
.featured__wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.featured__description {
  max-width: 60ch;
  color: var(--clr-slate600);
  font-size: var(--size-sm);
  margin: 1rem 0;
}
.featured__label {
  font-size: var(--size-base);
  text-transform: capitalize;
  margin-bottom: 0.25em;
}
.featured__tech-stack {
  padding: 0;
  list-style: none;
}
.featured__info {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  text-transform: capitalize;
}

.featured__info-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.featured__info-container div {
  min-width: 250px;
}

/*xs*/
@media (min-width: 475px) {
  .featured__subtitle {
    font-size: var(--size-base);
  }
  .featured__title {
    font-size: var(--size-3xl);
  }
  .featured__link {
    width: var(--size-3xl);
    height: var(--size-3xl);
  }
  .featured__description {
    font-size: var(--size-base);
    margin: 1.5rem 0;
  }
  .featured__label {
    font-size: var(--size-lg);
  }

  .featured__info {
    font-size: var(--size-base);
  }
}

/*sm*/
/* @media (min-width: 640px) {

} */
/*md*/
/* @media (min-width: 768px) {

} */
/*lg*/
@media (min-width: 1024px) {
  .featured__subtitle {
    font-size: var(--size-lg);
  }
  .featured__title {
    font-size: var(--size-4xl);
  }
  .featured__link {
    width: var(--size-4xl);
    height: var(--size-4xl);
  }
  .featured__description {
    font-size: var(--size-lg);
  }
  .featured__label {
    font-size: var(--size-xl);
  }

  .featured__info {
    font-size: var(--size-lg);
  }
}

/*xl*/
/* @media (min-width: 1288px) {

} */
/*2xl*/
@media (min-width: 1538px) {
  .featured__subtitle {
    font-size: var(--size-xl);
  }
  .featured__title {
    font-size: var(--size-5xl);
  }
  .featured__link {
    width: var(--size-5xl);
    height: var(--size-5xl);
  }
  .featured__description {
    font-size: var(--size-xl);
    margin: 2rem 0;
  }
  .featured__label {
    font-size: var(--size-2xl);
  }

  .featured__info {
    font-size: var(--size-xl);
  }
}
